// $assetPath : "https://fonts.typedetail.com/";
$assetPath : "../fonts/";

@font-face {
  src: url('#{$assetPath}AdobeVFPrototype.woff2');
  font-family:'Adobe Prototype';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}AmstelvarAlpha-VF.woff2');
  font-family:'Amstelvar';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}AngusVariable.woff2');
  font-family:'Angus';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}AngusVariableItalic.woff2');
  font-family:'Angus Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}AvenirNext_Variable.woff2');
  font-family:'Avenir Next';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Bahnschrift.woff2');
  font-family:'Bahnschrift';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}BarlowGX.woff2');
  font-family:'Barlow';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}BluuSuuperstarVariable.woff2');
  font-family:'Bluu Suuperstar';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}BluuSuuperstarVariableItalic.woff2');
  font-family:'Bluu Suuperstar Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Bree-VF.woff2');
  font-family:'Bree';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}BreeOblique-VF.woff2');
  font-family:'Bree Oblique';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}BuffaloGals_Var.woff2');
  font-family:'Buffalo Gals';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Cheee_Variable.woff2');
  font-family:'Cheee';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}CompressaPRO-GX.woff2');
  font-family:'Compressa';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DecovarAlpha-VF.woff2');
  font-family:'Decovar';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DriveVariable.woff2');
  font-family:'Drive';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DriveItalicVariable.woff2');
  font-family:'Drive Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DriveMonoVariable.woff2');
  font-family:'Drive Mono';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DriveMonoVariableItalic.woff2');
  font-family:'Drive Mono Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DrivePropVariable.woff2');
  font-family:'Drive Prop';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}DrivePropItalicVariable.woff2');
  font-family:'Drive Prop Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Dunbar_Series-VF.woff2');
  font-family:'Dunbar';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}ExtraordinaireVariable-VF.woff2');
  font-family:'Extraordinaire';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}ExtraordinaireVariableShade-VF.woff2');
  font-family:'Extraordinaire Shade';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Fit-Variable.woff2');
  font-family:'Fit';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Gimlet_Romans-VF.woff2');
  font-family:'Gimlet Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Gimlet_Italics-VF.woff2');
  font-family:'Gimlet Italic Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Gingham.woff2');
  font-family:'Gingham';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Gnomon-Web.woff2');
  font-family:'Gnomon';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Input_Mono-VF.woff2');
  font-family:'Input Mono Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Jabin-VF.woff2');
  font-family:'Jabin';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}KairosSans_Variable.woff2');
  font-family:'Kairos Sans';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LabDJR-VF.woff2');
  font-family:'Lab';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LeagueMonoVariable.woff2');
  font-family:'League Mono';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LibreFranklinGX-Romans.woff2');
  font-family:'Libre Franklin';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LibreFranklinGX-Italics.woff2');
  font-family:'Libre Franklin Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LouvetteBETA-VF.woff2');
  font-family:'Louvette Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}LouvetteBETA_Italic-VF.woff2');
  font-family:'Louvette Italic Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}MarkaziText-VF.woff2');
  font-family:'Markazi Text';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}MeritBadge-VF.woff2');
  font-family:'Merit Badge';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}MetaVariableDemo-Set.woff2');
  font-family:'Meta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}NunitoVFBeta.woff2');
  font-family:'Nunito Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Output_Sans-VF.woff2');
  font-family:'Output Sans Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Output_Sans_Hairlines-VF.woff2');
  font-family:'Output Sans Hairlines';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Pappardelle-VF.woff2');
  font-family:'Pappardelle';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Portada-VF.woff2');
  font-family:'Portada';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}PortadaItalic-VF.woff2');
  font-family:'Portada Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Protipo-VF.woff2');
  font-family:'Protipo';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}ProtipoCompact-VF.woff2');
  font-family:'Protipo Compact';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}ProtipoItalic-VF.woff2');
  font-family:'Protipo Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}renner-VF.woff2');
  font-family:'Renner';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}RhodyVariable-VF.woff2');
  font-family:'Rhody';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}RoslindaleVariableBeta-VF.woff2');
  font-family:'Roslindale Beta';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SFNSDisplay.woff2');
  font-family:'San Francisco Display';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SFNSText.woff2');
  font-family:'San Francisco Text';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SFNSTextItalic.woff2');
  font-family:'San Francisco Text Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Selawik-variable.woff2');
  font-family:'Selawik';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}Slovic_Demo_VarGX.woff2');
  font-family:'Slovic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SourceCodeVariable-Roman.woff2');
  font-family:'Source Code';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SourceCodeVariable-Italic.woff2');
  font-family:'Source Code Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SourceSansVariable-Roman.woff2');
  font-family:'Source Sans';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SourceSansVariable-Italic.woff2');
  font-family:'Source Sans Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SourceSerifVariable-Roman.woff2');
  font-family:'Source Serif';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}SpookyVariable.woff2');
  font-family:'Spooky';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}VennVF.woff2');
  font-family:'Venn';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}VesterbroVariable.woff2');
  font-family:'Vesterbro';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}VesterbroItalicVariable.woff2');
  font-family:'Vesterbro Italic';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}VotoSerifGX.woff2');
  font-family:'Voto Serif';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}ZinzinVF.woff2');
  font-family:'Zinzin';
  font-style: normal;
}
@font-face {
  src: url('#{$assetPath}dTJakobVariableConceptGX.woff2');
  font-family:'dT Jakob';
  font-style: normal;
}