<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Font Playground -- Play with variable fonts!</title>
    <meta name="viewport" content="width=900, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122306892-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122306892-1');
    </script>

</head>

<body class="select-disabled">
<div id="font-playground-app" :class="{ 
  'design-view': appStates.tabs.design.isActive,
  'code-view': appStates.tabs.code.isActive,
  'about-view': appStates.tabs.about.isActive,
  'font-menu-opened': appStates.drawer.fontMenu.isActive }">
  <div class="tabs select-disabled">
    <div class="logo-text"><span class="accent-text">Font</span> Playground</div>
    <div class="tab label-text" :class="{ active: tab.isActive }" v-for="tab in appStates.tabs" v-on:click="activateTab(tab)">{{ tab.name }}</div>
  </div>
  <div class="tools">
    <div class="tool selector active">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>select</title><path d="M4,1,14.7,12.7a.192.192,0,0,1-.038.269A.181.181,0,0,1,14.6,13H8.7a.762.762,0,0,0-.4.2l-4,3.6a.192.192,0,0,1-.269-.038A.181.181,0,0,1,4,16.7Z"/></svg>
    </div>
    <div class="tool point-type">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>point-type</title><path d="M6.5,16a.5.5,0,0,1-.5-.5v-1a.5.5,0,0,1,.5-.5H8V4H4V5.5a.5.5,0,0,1-.5.5h-1A.5.5,0,0,1,2,5.5v-3A.5.5,0,0,1,2.5,2h13a.5.5,0,0,1,.5.5v3a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5V4H10V14h1.5a.5.5,0,0,1,.5.5v1a.5.5,0,0,1-.5.5Z"/></svg>
      <div class="tip-text">Feature coming soon</div>
    </div>
    <div class="tool area-type">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>area-type</title><path d="M12.5,16a.5.5,0,0,1-.5-.5V4H10V15.5a.5.5,0,0,1-.5.5h-1a.5.5,0,0,1-.5-.5V11H6.5a4.5,4.5,0,0,1,0-9h7a.5.5,0,0,1,.5.5v13a.5.5,0,0,1-.5.5Z"/></svg>
      <div class="tip-text">Feature coming soon</div>
    </div>
    <div class="tool fit-type">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>fit-type</title><path d="M4,9.051v-3.1A2.5,2.5,0,0,0,5.949,4h6.1a2.5,2.5,0,1,0,0-1h-6.1A2.5,2.5,0,1,0,3,5.949v3.1A2.5,2.5,0,1,0,5.949,12H7V11H5.949A2.505,2.505,0,0,0,4,9.051ZM14.5,2A1.5,1.5,0,1,1,13,3.5,1.5,1.5,0,0,1,14.5,2ZM2,3.5A1.5,1.5,0,1,1,3.5,5,1.5,1.5,0,0,1,2,3.5ZM3.5,13A1.5,1.5,0,1,1,5,11.5,1.5,1.5,0,0,1,3.5,13Z"/><path d="M16.5,7h-9a.5.5,0,0,0-.5.5v3a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5V9h2v5h-.5a.5.5,0,0,0-.5.5v1a.5.5,0,0,0,.5.5h3a.5.5,0,0,0,.5-.5v-1a.5.5,0,0,0-.5-.5H13V9h2v1.5a.5.5,0,0,0,.5.5h1a.5.5,0,0,0,.5-.5v-3A.5.5,0,0,0,16.5,7Z"/></svg>
      <div class="tip-text">Feature coming soon</div>
    </div>
    <div class="tool font-menu" :class="{ active: appStates.drawer.fontMenu.isActive }" v-on:click="toggleDrawer(appStates.drawer.fontMenu)">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><title>font-menu</title><path d="M13.93,1.253C12.515,1.253,11.608,1,10.151,1c-4.708,0-6.9,2.681-6.9,5.4,0,1.6.76,2.132,2.259,2.132a2.949,2.949,0,0,1-.3-1.626c0-3.188,1.2-4.116,2.745-4.18,0,0-1.265,12.4-4.934,13.884V17H7.969L9.657,9h3.094l.689-2H10.079l.811-3.846a14.012,14.012,0,0,0,2.617.38c.971,0,1.858-.3,2.343-2.533a6.239,6.239,0,0,1-1.921.253Z" fill="#666"/></svg>
    </div>
  </div>
  <div class="drawer">
    <div class="section section-font-cards">
      <h4 class="subtitle-text">FONT FAMILY</h4>
      <div class="search-box">
        <input required class="value-text" type="text" v-model="search" placeholder="Search by name, axis, designer…"/>
        <div class="search-icon"></div>
        <div class="close-button" v-on:click="search = ''"></div>
      </div>
      <div class="font-cards">
        <div class="font-card" :class="{ active: fontFamily.isActive }" v-for="fontFamily in filteredFontFamilies" v-on:click="activateFamily(fontFamily)">
          <h1 class="font-preview" 
            v-if="!fontFamily.previewText.isCustom"
            :style="{fontFamily: fontFamily.cssCodeName}">
            {{ fontFamily.fontFamilyName }}
          </h1>
          <h1 class="font-preview" v-if="fontFamily.previewText.isCustom">
            {{ fontFamily.previewText.customText }}
          </h1>
          <h4 class="label-text">{{ fontFamily.fontFamilyName }}</h4>
          <h4 class="badge-text">{{ fontFamily.variableOptions.axes.length }}</h4>
        </div>
      </div>
    </div>
    <div class="section section-font-info">
      <h4 class="subtitle-text">FONT INFO</h4>
      <div class="font-info label-text">
        <table class="font-info__table">
          <tr>
            <th class="label-text">Designer</th>
            <td class="value-text">{{ activeFont.fontInfo.designer }}</td>
          </tr>
          <tr>
            <th class="label-text">Publisher</th>
            <td class="value-text">{{ activeFont.fontInfo.publisher }}</td>
          </tr>
          <tr>
            <th class="label-text">License</th>
            <td class="value-text">{{ activeFont.fontInfo.license }}</td>
          </tr>
          <tr>
            <th class="label-text">Link</th>
            <td><a :href="activeFont.fontInfo.url" class="value-text" target="_blank">{{ activeFont.fontInfo.urlText }}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="canvas">
    <script type="text/x-template" id="text-frame-template">
      <div class="text-frame point-type selected" 
           :class="{ 'vf-optical-size-on': isVFOpticalSizeSupported, 'vf-width-on': isVFWidthSupported, 'vf-slant-on': isVFSlantSupported, 'vf-xheight-on': isVFXHeightSupported }">
        <div class="controls--vf-opsz" @mousedown="controlVFOpticalSizeInitDrag"
        @touchstart="controlVFOpticalSizeInitDrag">
          <div class="vf-opsz-handle">
            <div class="tip-text">optical size</div>
          </div>
          <div class="vf-opsz-line"></div>
        </div>
        <div class="controls--vf-slantness" @mousedown="controlVFSlantInitDrag"
        @touchstart="controlVFSlantInitDrag">
          <div class="vf-slantness-handle" :style="{left: slantnessControlStyles.left}">
            <div class="tip-text">font slantness</div>
          </div>
          <div class="vf-slantness-line" :style="{transform: slantnessControlStyles.skew}"></div>
        </div>
        <div class="controls--vf-width-x" @mousedown="controlVFWidthXInitDrag"
        @touchstart="controlVFWidthXInitDrag">
          <div class="vf-width-x-line"></div>
          <div class="vf-width-x-handle">
            <div class="tip-text">font width</div>
          </div>
        </div>
        <div class="controls--vf-width-y" @mousedown="controlVFWidthYInitDrag"
        @touchstart="controlVFWidthYInitDrag">
          <div class="vf-width-y-line"></div>
          <div class="vf-width-y-handle">
            <div class="tip-text">font width</div>
          </div>
        </div>
        <div class="controls--vf-width" 
        @mousedown="controlVFWidthInitDrag"
        @touchstart="controlVFWidthInitDrag">
          <div class="vf-width-line"></div>
          <div class="vf-width-handle">
            <div class="tip-text">font width</div>
          </div>
        </div>
        <div class="controls--size">
          <div class="handle top left"></div>
          <div class="handle top center"></div>
          <div class="handle top right"></div>
          <div class="handle middle left"></div>
          <div class="handle middle right"></div>
          <div class="handle bottom left"></div>
          <div class="handle bottom center"></div>
          <div class="handle bottom right"></div>
        </div>
        <div class="controls--font-size" @mousedown="controlFontSizeInitDrag" @touchstart="controlFontSizeInitDrag">
          <div class="round-handle font-size-handle">
            <div class="tip-text">font size</div>
          </div>
        </div>
        <div class="controls--contrast"> 
          <div class="contrast-value">2.0</div>
          <div class="contrast-bracket"></div>
        </div>
        <div class="text" contenteditable :style="css">
          <div class="controls--vf-xheight" contenteditable=false>
            <div class="vf-xheight-line" :style="{top: xHeightControlStyles.xHeightTop}" @mousedown="controlVFxHeightInitDrag"
            @touchstart="controlVFxHeightInitDrag">
              <div class="tip-text">x height</div>
            </div>
            <div class="vf-base-line" :style="{top: xHeightControlStyles.baselineTop}"></div>
          </div>
          Heading One
        </div>
      </div>
    </script>
    <text-frame :font-settings="activeFont" :font-size="fontSize" v-on:fzchange="changeFontSize"></text-frame>
  </div>
  <div class="panel">
    <div class="section section-font-size">
      <div class="slider slider-font-size">
        <label for="range-input" class="label-text">Font Size</label>
        <input type="text" class="value-text" v-model="fontSize">
        <input type="range" min="1"  max="400" step="1" v-model="fontSize" >
      </div>
    </div>
    <div class="section section-preset-variations" v-if="activeFont.variableOptions.instances.length > 0">
      <h4 class="subtitle-text">PRESET VARIATIONS</h4>
      <div class="variations">
        <div class="variation-card value-text" :class="{ active: instance.isActive }" v-for="instance in activeFont.variableOptions.instances" v-on:click="activateInstance(instance)">
          {{instance.name}}
          <span class="specimen" v-bind:style="instanceStyles(instance)">Ag</span>
        </div>
      </div>
    </div>
    <div class="section section-variable-options">
      <h4 class="subtitle-text">VARIABLE OPTIONS</h4>
      <script type="text/x-template" id="slider-2d-template">
        <div class="slider-2d" @mousedown="initDrag" @touchstart="initDrag">
          <div class="handle" :style="{left: left + 'px', top: top + 'px'}">
              <div class="axis-x-line"></div>
              <div class="axis-y-line"></div>
          </div>
        </div>
      </script>
      <slider-2d v-if="isSlider2dActive" :axes="selectedAxes" v-model="selectedAxes"></slider-2d>
      <div class="sliders">
        <div class="slider" v-for="axis in activeFont.variableOptions.axes" :class="{selected: axis.isSelected}">
          <span v-if="isSlider2dActive" class="radio-button" v-on:click="activateAxis(axis)"></span>
          <label for="range-input" class="label-text">{{axis.name}}</label>
          <input type="text" class="value-text" v-model="axis.defaultValue">
          <input type="range" :min="axis.minValue"  :max="axis.maxValue" step="0.01" v-model="axis.defaultValue">
        </div>
      </div>
    </div>
    <div class="section section-code">
      <h4 class="subtitle-text">CSS</h4>
      <code class="select-enabled">{{ cssCode }}</code>
    </div>
  </div>
  <div class="about select-enabled">
    <h1>About Font Playground</h1>
    <p>Font Playground is built for three groups of audiences.</p>
    <p>The first group of audience is typographers and designers, who would like to play with fonts that are built with the latest font technologies, such as variable font. It is a playground to fully explore what these new font technologies can offer and how they can be beneficial to your creative workflow.</p>
    <p>The second group of audience is me, as a Type Tool’s UI/UX designer. This is a playground for me to test UI experiments for variable fonts and other new upcoming font technologies. One of the key points to the success of new font technology is adoption by design tools, and furthermore, designers. How can design tool present variable fonts in a way that is useful but not too complicated to handle? I hope to find the answers with this playground.</p>
    <p>The third group of audience is the type designers and foundries. This is a place to showcase the work-in-progress, cutting-edge font creations. It is a playground to see how fonts are being presented and used in future design tools. How fonts are used can also inform how fonts are made, and what standard should be defined.</p>
    <h1>Credits</h1>
    <p>Font Playground is an ongoing personal project of Wenting Zhang (<a href="https://twitter.com/DesignJokes" target="_blank">@DesignJokes</a>), inspired by Nick Sherman’s <a href="https://v-fonts.com/" target="_blank">v-fonts.com</a> and Laurence Penney’s <a href="https://www.axis-praxis.org/" target="_blank">axis-praxis.org</a>, and Andrew Johnson's <a href="http://alistapart.com/article/user-interfaces-for-variable-fonts" target="_blank">article about User Interfaces for Variable Fonts</a>.</p>
    <p>Many thanks to the tool makers of <a href="https://wakamaifondue.com/" target="_blank">wakamaifondue.com</a>, <a href="https://github.com/Monotype/variableFont.js" target="_blank">variableFont.js</a>, and <a href="https://vuejs.org/" target="_blank">vue.js</a>. Font Playground would not be developed as easily (or at all) without the generosity of them who shared their genius work with the world.</p>
    <p>I would like to thanks type designers who are generous to grant me licenses to their commercial fonts, <a href="https://djr.com/" target="_blank">David Jonathan Ross</a>, <a href="http://cjtype.com/" target="_blank">CJ Dunn</a>,  <a href="http://www.ohnotype.co/" target="_blank">James T. Edmondson</a>, and type designers and foundries who are generous to grant free usage or even open source their fonts. Only with such generosity, our community can have so many variable fonts to play with and to learn from. </p>
    <h1>Contact</h1>
    <ul>
      <li>Twitter: <a href="https://twitter.com/DesignJokes" target="_blank">@DesignJokes</a></li>
      <li>Email: zhangwenting111 [at] gmail.com</li>
      <li>Github: <a href="https://github.com/wentin/font-playground" target="_blank">https://github.com/wentin/font-playground</li></a>
    </ul>
    <p>
    If you have any feedback or suggestions, chat with me on twitter or email me.
    If you find issues on Font Playground, please file an issue report on <a href="https://github.com/wentin/font-playground/issues" target="_blank">Github</a>, or contact me via Email.</p>
    <p>
    Font playground is actively looking to add more variable fonts to its font menu. If you could share your fonts with Font Playground, I thank your generosity in advance, and please get in touch with me via Email.
    </p>
  </div>
  <!-- <code v-html="fontFaces"></code> -->
</div>
<script src="js/app.js"></script>
</body>

</html>
